@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Outfit:wght@300&display=swap');


body {
    font-family: 'Outfit', sans-serif;
    background-color: #eeabc4;
}

.navigation {
    list-style: none;
    padding: 0;
  }

header, footer {
    background-color: #883955;
    margin: 0%;
}

h2 {
    font-family: 'Courgette', cursive;
}
