@media (min-width: 64em) {
  .navigation {
    display: flex;
  }

  .navigation ul {
    padding: 2%;
  }
  .navigation li {
    display: block;
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
    color: #000000;
  }
  .navigation li:first-child {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero img {
    width: 100%;
    height: 100%;
  }

  img[data-src] {
    filter: blur(0.2em);
  }

  img {
    filter: blur(0em);
    transition: filter 0.5s;
  }

  .discoverimg img {
    margin: 2%;
    width: 60%;
    height: auto;
  }

  .discoverimg img:hover {
    filter: contrast(50%);
  }

  footer {
    background-color: #883955;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer img {
    max-width: 50%;
    height: auto;
    padding: 3%;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px 250px;
  }
  nav {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .calltoaction {
    grid-column: 3/5;
    grid-row: 1/2;
    display: flex;
  }

  .weather {
    grid-column: 1/2;
    grid-row: 2/5;
  }

  .drinks {
    grid-column: 4/5;
    grid-row: 2/5;
  }

  .coastal {
    grid-column: 2/4;
    grid-row: 2/5;
    display: flex;
  }

  .fru {
    object-fit: cover;
    height: auto;
    width: 200%;
  }

  .calltoaction {
    position: relative;
  }

  .coastal {
    position: relative;
  }

  .home-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .calltoaction:hover .home-image {
    opacity: 0.3;
  }

  .calltoaction:hover .middle {
    opacity: 1;
  }

  .coastal:hover .home-image {
    opacity: 0.3;
  }

  .coastal:hover .middle {
    opacity: 1;
  }

  .text {
    background-color: #73956f;
    color: #000000;
    padding: 16px 32px;
  }
  .text2 {
    transition: 0.5s ease;
    position: absolute;
    opacity: 0;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .coastal:hover .text2 {
    opacity: 1;
  }

}
