body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  margin: auto;
  padding: 1%;
}

header {
  background-color: #2c2e73;
  padding: 5px 0;
  display: flex;
  align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

header img {
  width:80%;
  height: auto;
}

.headings {
  display: flex;
  padding: 1%;
  align-items: center;
}
.headings1 {
  display: block;
  align-items: center;
}

.date {
  color: #5dc5eb;
}

header h2 {
  color: #5dc5eb;
}

.social {
display: flex;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 250px 250px 250px 250px;
  grid-gap: 2px;
   padding: 1%;
   border-color: black;
}

.hero {
  padding: 1%;
    background-color: #bddbb0;
}

.event {
  padding: 1%;
    background-color: #bddbb0;
}

.newsRelease {
  padding: 1%;
    background-color: #bddbb0;
}

.weather {
  padding: 1%;
    background-color: #bddbb0;
}

.spotlights {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1%;
  grid-gap: 3px;
    background-color: #bddbb0;
}

.spotlight1 {
 padding: 1%;
  background-color: #828c73;
}

.spotlight2 {
  padding: 1%;
  background-color: #828c73;
}

footer {
  background-color: #2c2e73;
  padding: 5px 0;
  display: block;
  justify-content: center;
}

.footer1 {
  display: flex;
  padding: 3%;
  color: #5dc5eb;
  }
  
  .footer2 {
  padding: 3%;
  color: #5dc5eb; 
  
  }

footer img {
  max-width: 50%;
  padding: 3%;
}
/* Small/Phone View ***************/
nav {
	margin: right;
  padding: 1%;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 1rem;
	text-align: left;
	text-decoration: none;
	color: #5dc5eb;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
  
}

.navigation a.ham::before {
	content: "🟰 ";
}

.navigation a:hover {
	color: white;
	background-color: black;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "✖️ ";
}
